<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>B系统</title>
    <script src="/static/js/jquery.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
  </head>
  <body style="font-size:16px">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/">Home</a></h5>
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/ainfo">A's Information</a></h5>
      <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/binfo">B's Information</a></h5>
      <nav class="my-2 mr-md-3">
        <a class="p-2 text-dark" target="_blank" href="https://github.com/leexinhao/Java_experiment1">Github</a>
      </nav>
      {% if isLogin==null %}
        <a href="/login" class="btn btn-outline-primary">Log In</a>
      {% else %}
<!--       TODO 用户信息显示还有问题，因为局部session取不到user，得从全局session传过来-->
        <span>Welcome, <a href="/profile">{{ user.name }}</a></span>
        &nbsp;&nbsp;&nbsp;
        <a href="/logout_remote" class="btn btn-outline-primary">Log Out</a>
      {% endif %}
    </div>

    <div class="container" style="max-width: 960px">
      <div class="row">
        <div class="col-12 col-md">
          {% block main %}
          {% endblock %}
        </div>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <h5>Copyright&copy;2021 {{ __time__ }}</h5>
            <p>
              <a target="_blank" href="https://github.com/leexinhao/Java_experiment1">Github</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
